body {
    margin: 0;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0b2637;
    text-align: left;
    background-color: #fff;
    display: block;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 36px;
}

.holder-buttons a {
    background-color: #fbbf11;
    border: 1px solid #bbb;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    margin: 5px;
    padding: 10px;
    transition: all 
    ease 0.7s;
}

.frontbut {
    background: none;
    border: none;
    box-shadow: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.banner {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.logo {
  height: 80px;
  margin-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.footer {
    background-color: #0b2637 !important;
    color: #fff !important;
    display: block;
    font-size: 0.8em;
    margin-top: 0;
    min-height: 85px;
    height: auto;
    padding: 20px 0 16px 0;
}

.footer .footlogos {
    float: right;
    margin-right: 30px;
}

.text-center {
    text-align: center !important;
}

.countblock {
    border: 2px solid #0b2637;
    border-radius: 20px;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0px auto 30px auto;
    text-align: center;
}

.countblock label {
    display: inline-block;
    margin: 0;
    padding: 6px 20px 4px 20px;
}

.container {
    max-width: 1400px;
    width: 80%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.justify-content-between {
    justify-content: space-between !important;
}

nav.navbar.bg-primary {
    background-color: #0b2637 !important;
    position: relative;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand {
    display: inline-block;
    padding-top: .32422rem;
    padding-bottom: .32422rem;
    margin-right: 1rem;
    font-size: 1.17188rem;
    line-height: inherit;
    white-space: nowrap;
}

.home_backpic {
    width: 100%;
    font-size: 0;
    line-height: 0;
    padding: 40px 100px 10px 100px;
    background-image: url(../images/lightblueback.png);
    background-repeat: repeat;
    background-color: #737eac;
    display: flex;
    justify-content: space-between;
}

.home_backpic_image {
    width: 200px;
    height: 230px;
    vertical-align: top;
    display: inline-block;
}

* {
    box-sizing: border-box;
}

.tablewrap {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    width: 100%;
    overflow-x: auto;
}

.tablewrap table.manageTables {
    background-color: transparent;
    border-collapse: collapse;
    margin-bottom: 1rem;
    max-width: 100%;
    min-width: 1000px;
    width: 100%;
}

.viewallbasebadges.tablewrap table.manageTables thead tr:first-child {
    border-bottom: none;
}

.viewallbasebadges.tablewrap table.manageTables thead tr:not(:first-child) {
    border-bottom: 1px solid #ddd;
}

.viewallbasebadges.tablewrap table.manageTables thead tr td:first-child {
    text-align: center;
}
.viewallbasebadges.tablewrap table.manageTables thead tr td {
    padding: 10px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.viewallbasebadges.tablewrap table.manageTables thead tr th:first-child {
    text-align: center;
    width: 150px;
}

.viewallbasebadges.tablewrap table.manageTables thead tr:first-child th {
    border-bottom: 2px solid #846BAC;
    font-size: 0.9rem;
    padding: .75rem;
    vertical-align: middle;
    text-align: left;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

.cookieConsentButton {
    background-color: #fbbf11; /* Green background */
    border: 1px solid #bbb;
    color: black; /* White text */
    padding: 5px 10px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the buttons appear side by side */
    font-size: 16px; /* Increase font size */
    margin: 10px 2px 5px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.cookieConsentButton:hover {
    background-color: white; 
}

.cookieConsentButton:focus {
    background-color: white; 
}
